<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>xym'z</title>
    <script src="/static/js/jquery-1.4.2.min.js"></script>
    <link rel="stylesheet" href="/static/css/screen.css"
      type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/static/css/print.css"
      type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet"
      href="/static/css/ie.css"
      type="text/css" media="screen, projection" /><![endif]-->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css"
      media="screen" />
  </head>
  <body>
    <div class="container span-15">
      {% block body %}
        <h1>Page Not Found</h1>
      {% endblock %}
    </div>
  </body>
</html>
